@import "../../shared/styles/shared.module.scss";
@import "../../shared/styles/variables.modules.scss";

$containerHPadding: 20px;

.random {
  height: 50vh;
}

.landingPage {
  h2 {
    @include font(pxToRem(40), 800, $gray);
  }
  
  h3 {
    @include font(pxToRem(20), 700, $yellow);
  }
  
  p {
    @include font(pxToRem(18), 400, $gray);
    line-height: 31px;
  }
}

.intro {
  padding: 47px $containerHPadding;
  max-width: pxToRem(1040);
  margin: 0 auto;
  text-align: center;
  
  h1 {
    @include font(pxToRem(56), 800, $green);
    margin-top: 12px;
    margin-bottom: 24px;
  }
}

.aboutSection {
  max-width: pxToRem(1240);
  @include HSpaceBetweenFlex;
  gap: 40px;
  padding: 107px $containerHPadding;
  margin: 0 auto;

  .image {
    position: relative;
    width: 45%;
    height: pxToRem(700);
    flex-shrink: 0;

    @include responsive_mb {
      display: none;
    }
  }

  .txt {
    h2 {
      margin: 12px 0 24px 0;
    }
    
    p {
      margin-bottom: 32px;
    }
  }
}

.programsContainer {
  max-width: pxToRem(1240);
  padding: 0 $containerHPadding;
  margin: 180px auto;

  .desc {
    margin: 12px 0 24px 0;
    @include HSpaceBetweenFlex;
    @include responsive_mb  {
      gap: 20px;
      flex-direction: column;
      align-items: start;
    }

    .l {
      max-width: pxToRem(800);
      
      h2 {
        margin-bottom: 24px;
      }
    }
  }

  .programs {
    @include CenterItemFlex;
    column-gap: 20px;
    row-gap: 60px;
    flex-wrap: wrap;
  }
}

.eventsContainer {
  position: relative;
  padding: 250px 10px 160px 10px;

  .bck {
    height: 50%;
    width: 100%;
    background-image: linear-gradient(to right, rgba($green, 0.4), rgba($green, 0.4)), url('../../../public/images/landing/events_bg.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
  }

  .inner {
    position: relative;
    z-index: 10;
    margin: 0 auto;
    max-width: pxToRem(1240);
    border-radius: 10px 10px 0 0;
    border: 1px solid rgba($gray, 0.15);
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    margin: 0 auto;
    
    @include responsive_mb {
      padding: $containerHPadding ;
    }  

    h2 {
      margin: 12px 0 24px 0;
    }

    .events {
      margin-top: 70px;
      margin-bottom: 40px;
      @include CenterItemFlex;
      column-gap: 35px;
      row-gap: 60px;
      flex-wrap: wrap;

      li {
        height: pxToRem(343);
        width: pxToRem(343);
        position: relative;
        box-shadow: 0px 3px 5px 0px #00000026;
        height: pxToRem(350);

        .tag {
          background-color: $gray;
          border-radius: 5px;
          position: absolute;
          top: 0;
          left: 50%;
          z-index: 1000;
          transform: translate(-50%, -50%);
    
          p {
            @include font(pxToRem(14), 800, $white);
            padding: 10px 15px;
          }
        }
      }
    }
  }
}

.newsHighlights {
  padding: 80px $containerHPadding;
  background-color: $green-1;
  
  > div {
    max-width: pxToRem(1240);
    margin: 0 auto;
  }

  .desc {
    @include responsive_mb  {
      gap: 20px;
      flex-direction: column;
      align-items: start;
    }
    margin: 12px 0 24px 0;
    @include HSpaceBetweenFlex;

    .l {
      max-width: pxToRem(800);
      
      h2 {
        margin-bottom: 24px;
      }
    }
  }

  .programs {
    margin-top: 60px;
    @include CenterItemFlex;
    column-gap: 20px;
    row-gap: 60px;
    flex-wrap: wrap;
  }
}

.libDonContainer {
  padding: 160px $containerHPadding;
  padding-bottom: 0;
  position: relative;

  @include responsive_mb {
    padding: 80px $containerHPadding;
  }

  .bck {
    height: 40%;
    width: 100%;
    background-image: linear-gradient(to right, rgba($green, 0.85), rgba($green, 0.85)), url('../../../public/images/background/texture_1.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}

.libDonContainer > .eLibrary {
  max-width: pxToRem(1240);
  @include HSpaceBetweenFlex;
  gap: 70px;
  margin: 0 auto;

  @include responsive_mb {
    display: block;
  }
  
  > div {
    flex: 1;
  }

  .desc {
    h2 {
      margin-top: 12px;
      margin-bottom: 24px;
    }
  }

  .imgContainer {
    position: relative;
    align-self: stretch;

    @include responsive_mb {
      width: 100%;
      margin-top: 20px;
      height: pxToRem(428);
    }

    .timeContainer {
      position: absolute;
      border: 1px solid rgba($gray, 0.15);
      border-radius: 5px;
      background-color: $white;
      bottom: 17px;
      left: 50%;
      transform: translateX(-50%);
      padding: 10px 16px;
      text-align: center;

      .text {
        @include font(pxToRem(12), 700, $gray);
        margin-bottom: 8px;
      }

      .time {
        @include font(pxToRem(18), 700, $green);
      }
    }
  }
}

.imageGrid {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 24px;
  height: 100%;

  div {
    flex: 1;
  }

  .full, .innerSplit > div {
    position: relative;
    border-radius: 10px;
    border: 2px solid $green;
    overflow: hidden;
  }

  .innerSplit {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    gap: 22px;
  }
}

.donation {
  padding: 80px;
  @include HSpaceBetweenFlex;
  gap: 50px;
  border-radius: 10px 10px 0 0;
  border: 1px solid rgba($gray, 0.15);
  max-width: pxToRem(1240);
  margin: 0 auto;
  margin-top: 160px;
  background-color: $white;
  
  @include responsive_mb {
    display: block;
    padding: $containerHPadding;
  }
  
  .about {
    flex: 0.7;

    h2 {
      margin-top: 12px;
      margin-bottom: 24px;
    }
    
    p.verse {
      color: $green;
      margin-bottom: 24px;
    }

    > div {
      margin-bottom: 32px;

      ul {
        li {
          list-style: disc;
          margin-left: 1.5em;
          @include font(pxToRem(18), 400, $gray);
          line-height: 31px;
        }
      }
    }
  }

  .accountDets {
    flex: 0.3;
    border-radius: 10px;
    background-color: $gray;
    padding: 40px 20px;
    text-align: center;

    @include responsive_mb {
      margin-top: 30px;
    }  

    > span {
      border-radius: 10px;
      background-color: $white;
      @include font(pxToRem(24), 800, $gray);
      padding: 24px 30px;
      margin: 0 auto;
      margin-bottom: 40px;
      display: block;
      width: fit-content;
    }

    p {
      color: $white;

      &:not(:last-of-type) {
        margin-bottom: 32px;
      }
    }
  }
}

.suggestionBox {
  padding: 160px $containerHPadding;

  @include responsive_mb {
    padding: 80px $containerHPadding;
  }  

  > div {
    padding: 60px;
    max-width: pxToRem(1240);
    margin: 0 auto; 
    border-radius: 10px;
    border: 1px solid rgba($green, 0.5);
    background-color: rgba($green, 0.08);
    @include HSpaceBetweenFlex;
    gap: 50px;
    @include responsive_mb {
      padding: $containerHPadding ;
    }  

    > div {
      flex: 1;
    }

    .l {
      h3 {
        color: $green;
      }

      h2 {
        margin-top: 12px;
        margin-bottom: 24px;
      }
      
      p {
        margin-top: 24px;
        margin-bottom: 32px;  
      }
    }

    .r {
      position: relative;
      align-self: stretch;

      @include responsive_mb {
        display: none;
      }  
    }
  }
}