@import "../../shared/styles/shared.module";
@import "../../shared/styles/variables.modules";

.infoBar {
  height: pxToRem(46);
  background-color: $green;
  padding: 0 100px;
  @include HSpaceBetweenFlex;

  .l, .r {
    @include CenterItemFlex;
  }

  .contact {
    display: flex;
    justify-content: flex-start;
    margin-right: 20px;

    p {
      margin-left: 10px;
      @include font(pxToRem(14), 700, $white);
    }

    svg {
      &:not(:first-of-type) {
        margin-left: 4px;
      }
    }
  }
}