@import "../../shared/styles/shared.module.scss";

.newsSection {
  padding: 0 100px;
  max-width: 1440px;
  margin: 60px auto 120px;
  display: grid;
  justify-items: center;
  gap: 40px;

  @include responsive_mb {
    padding: 0 15px;
  }
}

.news {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 60px;
  column-gap: 42px;
}

.newsletterContainer {
  margin-bottom: 120px;
}
