@import "../../../shared/styles/shared.module.scss";
@import "../../../shared/styles/variables.modules.scss";

.container {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 40px 100px 60px;
  max-width: 1440px;
  margin: auto;

  @include responsive_mb {
    padding: 40px 15px 60px;
  }
}

.path {
  font-size: pxToRem(18);
  font-weight: 400;
  line-height: pxToRem(36);
  color: $gray;
  opacity: 0.5;

  @include responsive_mb {
    font-size: pxToRem(14);
    line-height: pxToRem(21);
  }
}

.rootPath {
  color: $green;
  opacity: 1;
}
