@import "../../../shared/styles/shared.module";
@import "../../../shared/styles/variables.modules";

.page_wrapper{
  width: 100%;
  height: 100%;
  // background-color: blueviolet;
  padding-top: pxToRem(179 - 96);
}

.page_wrapper_content{
  padding-block: pxToRem(100);
  color: $black-100;

  &_title{
    font-weight: 800;
    font-size: pxToRem(40);
    line-height: pxToRem(50);
    text-align: center;
    margin-inline: auto;
    max-width: pxToRem(566);
  }

  
  &_sub{
    font-weight: 400;
    font-size: pxToRem(18);
    line-height: pxToRem(31);
    text-align: center;
    max-width: pxToRem(750);
    margin-inline: auto;
  }

  &_prayer_times{
    display: flex;
    flex-direction: column;
    gap: pxToRem(60);
    padding-top: pxToRem(60);
  }
}