@import "../../shared/styles/shared.module";
@import "../../shared/styles/variables.modules";

.navPadding {
  width: 100%;
  height: pxToRem(139);
  
  @include responsive_mb {
    height: pxToRem(54);    
  }
}