@import "../../shared/styles/shared.module.scss";
@import "../../shared/styles/variables.modules.scss";

.programs {
  margin-top: 60px;
  padding: 0 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 60px;
  column-gap: 43px;
  padding-bottom: 120px;
}

.newsletterContainer {
  margin-bottom: 120px;
}
