@import "../../shared/styles/shared.module.scss";
@import "../../shared/styles/variables.modules.scss";

.intro {
  padding: 100px 20px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  text-align: center;

  .introTitle {
    color: $gray; // #333333
    font-size: pxToRem(40);
    font-weight: 800;
    line-height: pxToRem(50);
    max-width: 793px;
  }

  .introSubtitle {
    color: $gray; // #333333
    font-size: pxToRem(18);
    font-weight: 400;
    line-height: pxToRem(41);
    max-width: 948px;
  }
}

.programs {
  padding: 0 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 60px;
  column-gap: 43px;
  padding-bottom: 120px;
}

.newsletterContainer {
  margin-bottom: 120px;
}
