$white: #ffffff;
$black: #000000;
$green: #008001;
$gray: #333333;
$yellow: #e1b001;
$teal: #039f9f;
$teal-1: #213430;

:export {
  white: $white;
  black: $black;
  green: $green;
  gray: $gray;
  yellow: $yellow;
  teal: $teal;
  teal-1: $teal-1;
}