$white: #ffffff;
$black: #000000;
$green: #008001;
$green-1: #F4FBF6;
$green-2: #F5F5F5;
$green-3: #036D3D;
$gray: #333333;
$yellow: #e1b001;
$teal: #039f9f;
$teal-1: #213430;

:export {
  white: $white;
  black: $black;
  green: $green;
  gray: $gray;
  yellow: $yellow;
  teal: $teal;
  teal-1: $teal-1;
}