$white: #ffffff;
$black: #000000;
$green: #008001;
$green-1: #F4FBF6;
$gray: #333333;
$yellow: #e1b001;
$teal: #039f9f;
$teal-1: #213430;
$black-100:#333333;
$black-50:#33333380;
$m-green:#008001;

:export {
  white: $white;
  black: $black;
  green: $green;
  gray: $gray;
  yellow: $yellow;
  teal: $teal;
  teal-1: $teal-1;
  black-100:$black-100
  $m-green
  $black-50
}