@import "../../../shared/styles/shared.module";
@import "../../../shared/styles/variables.modules";

.navbarMenu {
  position: relative;
  
  .label {
    @include font(pxToRem(16), 400, $gray);
    display: flex;
    align-items: center;

    &:hover {
      color: $green;

      svg {
        path {
          fill: $green;
        }
      }
    }

    @include responsive_mb {
      width: 100%;
      justify-content: space-between;
      color: $white;
      padding: 16px 20px;

      svg {
        path {
          fill: $white
        }
      }
    }

    svg {
      margin-left: 5px;
      width: pxToRem(11);
    }
  }

  .items {
    position: absolute;
    top: 26px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid rgba($gray, 0.1);
    border-radius: 5px;
    z-index: 10000;

    @include responsive_mb {
      background-color: $green;
      width: calc(100% - 40px);
      margin: 0 20px;
      border-radius: 0 0 5px 5px;
      top: 100%;
      box-shadow: 0px 2px 5px 0px #00000024;
      border-color: $white;

      > a {
        width: 100%;
        color: $white;
      }
      
    }

    > a {
      padding: 24px;
      white-space: nowrap;

      &:hover {
        color: $green;
      }

      &:not(:last-of-type) {
        @include responsive_mb {
          border-bottom-color: $white;
        }
      }
    }
  }
}